/*.container{
background-image: url("../images/backgroundimage.jpg");
  padding:30px;
  height: 800px;
  margin-bottom: 100px;;
}
*/
body{
  background-color: gray;
}
.wrapper{

  width:760px;
  margin:0 auto;
   background-color: blue;
  

}
#alphabet li {
  
  float:left;
  margin: 10px;
  list-style: none;
  width:35px;
  height:30px;
  text-align: center;
  background:white;
  color:back;
  cursor:pointer;
  border: solid 1px black;
  border-radius: 25px;
}

/*not sure why hover is not working*/

#alphabet:hover{
  background-color: blue;


}
li:hover {
  color:blue;
}